@model IEnumerable<Students.Domain.Entities.CourseStudent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courses.Id)
            </th>


            <td>
                @Html.DisplayNameFor(model => model.courses.CI_FieldCourse.Title)

            </td>

            <td>
                @Html.DisplayNameFor(model => model.courses.Classtime)
            
            </td>

            <td>
                @Html.DisplayNameFor(model => model.courses.Teacher.Name)
         
            </td>
            <td>
                @Html.DisplayNameFor(model => model.courses.TimeOfSession)
             
            </td>
            <td>
                @Html.DisplayNameFor(model => model.courses.Title)
      
            </td>



            <th>
                @Html.DisplayNameFor(model => model.Students.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courses.Id)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.courses.CI_FieldCourse.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.courses.Classtime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.courses.Teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courses.TimeOfSession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courses.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Students.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.UserName)
                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
